<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weathe API - Node.js</title>
    
    <link rel="stylesheet" type="text/css" href="css/default.min.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <section class="container">
                <a class="logo" href="/">
                    <img src="img/weather-api-logo.png" alt="Logotipo Weather API">
                </a>
            </section>
        </header>
        <main>
            <section class="container">
                <h1>Welcome to Weather.API</h1>
                <p>The Weather.API is a simple node.js API made with love ♥</p>
                <a class="btn" href="list">Get Started</a>
            </section>
        </main>
        <footer>
            <span>
                <strong>© weather.api</strong><br>
                Developed by <a href="https://www.renatobrunetti.com.br" target="_blank">Renato Brunetti</a>
            </span>
        </footer>
    </div>
</body>
</html>